<html lang="en">
    <head>
        <title>Best Dinosaurs</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="http://localhost:3000/styles.css">
    </head>
    <body>
        <h1>Best Dinosaurs</h1>
        <ul>
            {{#each dinos}}
            <li><a href="/detail?name={{name}}">{{name}}</a></li>
            {{/each}}
        </ul>
    </body>
</html>