* {
    box-sizing: border-box;
    font-family: 'Verdana', sans-serif;
    color: #1A1A1A;
}

body {
    margin: 30px;
    text-align: center;
    background-color: #F2F2F2;
}

ul {
    background-color: #afc0e4;
    width: 500px;
    margin: 5px auto;
    padding: 10px 0;
    border-radius: 3px;
}

li {
    list-style-type: none;
    padding: 2px;
}